@model ElBuenSaborAdmin.Models.MercadoPagoDatos

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MercadoPagoDatos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdentificadorPago" class="control-label"></label>
                <input asp-for="IdentificadorPago" class="form-control" />
                <span asp-validation-for="IdentificadorPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaAprobacion" class="control-label"></label>
                <input asp-for="FechaAprobacion" class="form-control" />
                <span asp-validation-for="FechaAprobacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormaPago" class="control-label"></label>
                <input asp-for="FormaPago" class="form-control" />
                <span asp-validation-for="FormaPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetodoPago" class="control-label"></label>
                <input asp-for="MetodoPago" class="form-control" />
                <span asp-validation-for="MetodoPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NroTarjeta" class="control-label"></label>
                <input asp-for="NroTarjeta" class="form-control" />
                <span asp-validation-for="NroTarjeta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PedidoId" class="control-label"></label>
                <select asp-for="PedidoId" class ="form-control" asp-items="ViewBag.PedidoId"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Disabled" /> @Html.DisplayNameFor(model => model.Disabled)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
