@model ElBuenSaborAdmin.Models.EgresoArticulo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EgresoArticulo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CantidadEgresada" class="control-label"></label>
                <input asp-for="CantidadEgresada" class="form-control" />
                <span asp-validation-for="CantidadEgresada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockID" class="control-label"></label>
                <select asp-for="StockID" class="form-control" asp-items="ViewBag.StockID"></select>
                <span asp-validation-for="StockID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetalleFacturaId" class="control-label"></label>
                <select asp-for="DetalleFacturaId" class="form-control" asp-items="ViewBag.DetalleFacturaId"></select>
                <span asp-validation-for="DetalleFacturaId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Disabled" /> @Html.DisplayNameFor(model => model.Disabled)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
