@{
    ViewData["Title"] = "Inicio";

}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <a asp-controller="Home" asp-action="MenuArticulos" class="text-decoration-none">
                <div class="card text-center" style="width: 100%;">
                    <img src="~/images/icons/articulos.png" class="card-img-top" alt="Imagen">

                    <div class="card-body">
                        <h5 class="card-title">Artículos</h5>
                        <p class="card-text">Administración de Artículos, Rubros, Ingresos y Egresos</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-4">
            <a asp-controller="Home" asp-action="MenuUsuariosRoles" class="text-decoration-none">
                <div class="card text-center" style="width: 100%;">
                    <img src="~/images/icons/usuarios-y-roles.png" class="card-img-top img-responsive" alt="Imagen">

                    <div class="card-body">
                        <h5 class="card-title">Usuarios y Roles</h5>
                        <p class="card-text">Administración de Roles, Clientes, Usuarios</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-4">
            <a asp-controller="Facturas" asp-action="Index" class="text-decoration-none">
                <div class="card text-center" style="width: 100%;">
                    <img src="~/images/icons/facturas.png" class="card-img-top img-responsive" alt="Imagen">
                    <div class="card-body">
                        <h5 class="card-title">Facturas</h5>
                        <p class="card-text">Administración de Facturas, Impresión de Facturas</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4">
            <a asp-controller="Pedidos" asp-action="Index" class="text-decoration-none">
                <div class="card text-center" style="width: 100%;">
                    <img src="~/images/icons/pedidos.png" class="card-img-top" alt="Imagen">

                    <div class="card-body">
                        <h5 class="card-title">Pedidos</h5>
                        <p class="card-text">Administración de Pedidos</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-4">
            <a asp-controller="Home" asp-action="Informes" class="text-decoration-none">
                <div class="card text-center" style="width: 100%;">
                    <img src="~/images/icons/informes.png" class="card-img-top" alt="Imagen">

                    <div class="card-body">
                        <h5 class="card-title">Informes</h5>
                        <p class="card-text">Generación de informes y reportes</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-4">
            <a asp-controller="Configuraciones" asp-action="Index" class="text-decoration-none">
                <div class="card text-center" style="width: 100%;">
                    <img src="~/images/icons/configuracion.png" class="card-img-top" alt="Imagen">

                    <div class="card-body">
                        <h5 class="card-title">Configuración</h5>
                        <p class="card-text">Configuraciones varias</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>