@{
    ViewData["Title"] = "Menú Informes";
}

<div class="text-center">
    <h1 class="display-4">Menu Usuarios y Roles</h1>
</div>

<div class="container">
    <div class="row">

        <div class="col-12 col-md-6">
            <a asp-controller="Facturas" asp-action="Ranking" class="text-decoration-none">
                <div class="card text-center" style="width: 100%;">
                    <img src="~/images/icons/ranking.png" class="card-img-top" alt="Imagen">

                    <div class="card-body">
                        <h5 class="card-title">Ranking de Comidas</h5>
                        <p class="card-text">Dentro de un período de tiempo determinado</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-12 col-md-6">
            <a asp-controller="Facturas" asp-action="Ingresos" class="text-decoration-none">
                <div class="card text-center" style="width: 100%;">
                    <img src="~/images/icons/ingresos.png" class="card-img-top" alt="Imagen">

                    <div class="card-body">
                        <h5 class="card-title">Ingresos</h5>
                        <p class="card-text">Ingresos diarios y mensuales</p>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <div class="row">

        <div class="col-12 col-md-6">
            <a asp-controller="Clientes" asp-action="PedidosCliente" class="text-decoration-none">
                <div class="card text-center" style="width: 100%;">
                    <img src="~/images/icons/pedidos-cliente.png" class="card-img-top" alt="Imagen">

                    <div class="card-body">
                        <h5 class="card-title">Pedidos por Cliente</h5>
                        <p class="card-text">Dentro de un período de tiempo determinado</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-12 col-md-6">
            <a asp-controller="Facturas" asp-action="Ganancias" class="text-decoration-none">
                <div class="card text-center" style="width: 100%;">
                    <img src="~/images/icons/ganancias.png" class="card-img-top" alt="Imagen">

                    <div class="card-body">
                        <h5 class="card-title">Ganancias</h5>
                        <p class="card-text">Dentro de un período de tiempo determinado</p>
                    </div>
                </div>
            </a>
        </div>

    </div>

</div>
