@{
    ViewData["Title"] = "Menú Informes";
}

<div class="text-center">
    <h1 class="display-4">Menu Usuarios y Roles</h1>
</div>

<div class="container">
    <div class="row">

        <div class="col">
            <div class="card text-center" style="width: 100%;">
                <a><img src="~/images/placeholder-600x400.png" class="card-img-top" alt="Imagen"></a>
                <div class="card-body">
                    <h5 class="card-title">Top Comidas</h5>
                    <p class="card-text">Ranking de comidas más pedidas dentro de un período de tiempo determinado</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-center" style="width: 100%;">
                <a><img src="~/images/placeholder-600x400.png" class="card-img-top" alt="Imagen"></a>
                <div class="card-body">
                    <h5 class="card-title">Ingresos</h5>
                    <p class="card-text">Ingresos diarios y mensuales</p>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col">
            <div class="card text-center" style="width: 100%;">
                <a><img src="~/images/placeholder-600x400.png" class="card-img-top" alt="Imagen"></a>
                <div class="card-body">
                    <h5 class="card-title">Pedidos por Cliente</h5>
                    <p class="card-text">Pedidos realizados por un cliente dentro de un período de tiempo determinado</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-center" style="width: 100%;">
                <a><img src="~/images/placeholder-600x400.png" class="card-img-top" alt="Imagen"></a>
                <div class="card-body">
                    <h5 class="card-title">Ganancias</h5>
                    <p class="card-text">Ganancias dentro de un período de tiempo determinado</p>
                </div>
            </div>
        </div>

    </div>

</div>
