@{
    ViewData["Title"] = "Menú Usuarios y Roles";
}

<div class="text-center">
    <h1 class="display-4">Menú Usuarios y Roles</h1>
</div>

<div class="container">
    <div class="row">

        <div class="col">
            <a asp-controller="Roles" asp-action="Index" class="text-decoration-none">
                <div class="card text-center" style="width: 100%;">
                    <img src="~/images/icons/roles.png" class="card-img-top" alt="Imagen">

                    <div class="card-body">
                        <h5 class="card-title">Roles</h5>
                        <p class="card-text">Ver Roles de Usuario disponibles</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a asp-controller="Clientes" asp-action="Index" class="text-decoration-none">
                <div class="card text-center" style="width: 100%;">
                    <img src="~/images/icons/clientes.png" class="card-img-top" alt="Imagen">

                    <div class="card-body">
                        <h5 class="card-title">Clientes</h5>
                        <p class="card-text">Administración de Clientes</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a asp-controller="Usuarios" asp-action="Index" class="text-decoration-none">
                <div class="card text-center" style="width: 100%;">
                    <img src="~/images/icons/usuarios.png" class="card-img-top" alt="Imagen">

                    <div class="card-body">
                        <h5 class="card-title">Usuarios</h5>
                        <p class="card-text">Administración de Usuarios</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>