@{
    ViewData["Title"] = "Menú Articulos";
}

<div class="text-center">
    <h1 class="display-4">Menú Articulos</h1>
</div>

<div class="container">
    <div class="row">

        <div class="col-12 col-md-6">
            <a asp-controller="Articulos" asp-action="Index" class="text-decoration-none">
                <div class="card text-center" style="width: 100%;">
                    <img src="~/images/icons/articulos-individuales.png" class="card-img-top" alt="Imagen">

                    <div class="card-body">
                        <h5 class="card-title">Artículos</h5>
                        <p class="card-text">Administración de Artículos, Precios, Recetas, Ingresos y Egresos</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-12 col-md-6">
            <a asp-controller="RubroArticulos" asp-action="Index" class="text-decoration-none">
                <div class="card text-center" style="width: 100%;">
                    <img src="~/images/icons/rubros.png" class="card-img-top" alt="Imagen">

                    <div class="card-body">
                        <h5 class="card-title">Rubros</h5>
                        <p class="card-text">Administración de Rubros</p>
                    </div>
                </div>
            </a>
        </div>

    </div>

</div>