@model ElBuenSaborAdmin.Models.Articulo

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Articulo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Denominacion" class="control-label"></label>
                <input asp-for="Denominacion" class="form-control" />
                <span asp-validation-for="Denominacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnidadMedida" class="control-label"></label>
                <input asp-for="UnidadMedida" class="form-control" />
                <span asp-validation-for="UnidadMedida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockMinimo" class="control-label"></label>
                <input asp-for="StockMinimo" class="form-control" />
                <span asp-validation-for="StockMinimo" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ALaVenta" /> @Html.DisplayNameFor(model => model.ALaVenta)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="RubroArticuloID" class="control-label"></label>
                <select asp-for="RubroArticuloID" class ="form-control" asp-items="ViewBag.RubroArticuloID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
