@model ElBuenSaborAdmin.Viewmodels.CrearDetalleRecetaVM

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Detalle Receta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdArticulo" class="control-label"></label>
                <select asp-for="IdArticulo" class="form-control" asp-items="ViewBag.ArticuloID"></select>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="IdReceta" class="form-control" value=@Model.IdReceta />
            </div>
            @*<div class="form-group">
                <label asp-for="DetalleReceta.RecetaID" class="control-label"></label>
                <select asp-for="DetalleReceta.RecetaID" class="form-control" asp-items="ViewBag.RecetaID"></select>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-idRec="@Model.IdReceta" asp-route-idArt="@Model.IdArticulo">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
