@model ElBuenSaborAdmin.Viewmodels.PedidosPorClienteVM

@{
    ViewData["Title"] = "Pedidos por Cliente";
}

<h1>Pedidos por Cliente</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GenerarReporte" target="_blank" method="get">
            <div class="form-group">
                <label asp-for="ClienteID" class="control-label"></label>
                <br />
                <select asp-for="ClienteID" asp-items="Model.Clientes"></select>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="FechaFinal" class="control-label"></label>
                <input asp-for="FechaFinal" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Generar Reporte" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Informes">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
